# Data files
*.csv
!spotify_and_ticketmaster_data/setfim_data/*.csv
!spotify_and_ticketmaster_data/spotify_weekly_data_2025/*.csv

# API keys / secrets
.env
*.key

# Python
__pycache__/
*.pyc

# Mac
.DS_Store